In [7]:
import numpy as np
import pandas as pd
a = np.array([ 
    ["Film","Genre","Year","Number of ratings","Estimation"],
    ["The Terminator","Fantasy",1984,10,4.6],
    ["Die Hard","Action",1988,23,3.7],
    ["9th company","Action",2005,15,4.0],
    ["Taxi","Comedy",1998,30,3.9],
    ["The fifth element","Fantasy",1997,7,3.5],
    ["Spider-Man: There is no way home","Fantasy",2021,30,4.6],
    ["The Joker","Crime",2019,50,5.0],
    ["Escape from Shawshank","Drama",1994,45,4.9],
    ["Home alone","Comedy",1990,35,4.7],
    ["The Green Mile","Drama",1990,39,4.3]])

rows = ["{},{},{},{},{}".format(i, j, k, u, p) for i, j, k, u, p in a]
text = "\n".join(rows)

with open('film1.csv', 'w') as f:
    f.write(text)

In [8]:
film=pd.read_csv("film1.csv",delimiter=',')

<h6>Хоррор фильмы<h6>

In [9]:
film[film["Genre"]=="Хоррор"]

Empty DataFrame
Columns: [Film, Genre, Year, Number of ratings, Estimation]
Index: []

<h6>Фильмы снятые после 2010 года<h6>

In [10]:
film[film["Year"]>2010]

,Film,Genre,Year,Number of ratings,Estimation
5,Spider-Man: There is no way home,Fantasy,2021,30,4.6
6,The Joker,Crime,2019,50,5.0

<h6>Фильмы с оценкой выше 4.0<h6>

In [11]:
film[film["Estimation"]>4.0]

,Film,Genre,Year,Number of ratings,Estimation
0,The Terminator,Fantasy,1984,10,4.6
5,Spider-Man: There is no way home,Fantasy,2021,30,4.6
6,The Joker,Crime,2019,50,5.0
7,Escape from Shawshank,Drama,1994,45,4.9
8,Home alone,Comedy,1990,35,4.7
9,The Green Mile,Drama,1990,39,4.3

<h6>Фильмы, у которых оценок больше 10000<h6>

In [12]:
film[film["Number of ratings"]>10000]

Empty DataFrame
Columns: [Film, Genre, Year, Number of ratings, Estimation]
Index: []